body {
   background: linear-gradient(#599DFF, #A9BFFF, #3368FF);
}


li {
   display: inline-block;
   margin: 10px;
   font-style: none;
   font-weight: bold;
}  

li a {
   font-style: none;
   text-transform: uppercase;
   font-size: 18px;
   color: #000000;
} 

ul {
   margin-top: 40px;
   text-align: center;
}


#ig, #ih {
   transform: scale(1.3);
   text-decoration: uppercase;   
}

a {
   display: flex;
   flex-direction: column;
   text-decoration: none;
   
}


.btv:hover {
background: #337364;
   
}
.aulas, .questoes {
   display: flex;
   flex-direction: column;
   margin: 30px;
   padding: 10px
}

.questoes {
   margin-block-end: 60%;
}



.btv {
   margin: 5px;
   color: black;
   background: #08FFC7;
   border: none;
   border-radius: 5px;
}


h2 {
   margin: 10px;
}


.copry {
   text-align: center;
   color: #000000;
   font-size: 13px;
   margin-block-end: 20px;
}

/* css aulas /* ^------^ 
%---^